body{
   font-family: 'Arimo', sans-serif;
   min-width: 1140px;
}
.price-table{
    margin: 0 auto;
    border: 25px solid #3a4965; 
}
.pricing-plan{
    width: 310px;
    background-color: #fafafa;
}
.price-small-text{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
    color: #484848;
    margin-bottom: 10px;
}
.price-big-text{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color:#484848;
}
.price-tupe-standart{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #89c331;   
}
.price-tupe-ultimate{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #f04a56;
}
.price-tupe-premium{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #20807c;
    width: 280px;
    padding: 25px 0;
}
.price-dollars{
    font-size: 60px;
    font-weight: bold;
    color: #484848;
    padding-left: 35px;
}
.price-cents{
    font-size: 24px;
    font-weight: bold;
    color: #484848;   
}
.price-term{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;    
}
.month-price{
    position: relative;
    text-align: left;
    background-color: #fafafa;
    width: 280px;
}
.price-details{
    text-align: left;
    position: absolute;
    top: 15px;
    left: 130px;
}
.col{
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
    vertical-align: middle;
    border-right: 2px solid #DADADA;
}
.row{ 
    height: 70px;
}
.price-table-body.row:nth-child(odd){
    background-color: #f2f2f2;
}
.price-table-body .row:nth-child(even){
    background-color: #e3e3e3;
}
.price-table-footer button{
    margin: 35px;
    width: 190px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    outline: 0;
    border: none;
    transition: 0.4s ease;
}
.price-table-footer button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.contact-btn{
    background-color: #484848;
    box-shadow: 0 8px 0 #404040;
}
.standard-btn{
    background-color: #89c331;
    box-shadow: 0 8px 0 #79b027;
}
.ultimate-btn{
    background-color: #f04a56;
    box-shadow: 0 8px 0 #df3a46;
}
.premium-btn{
    background-color: #20807c;
    box-shadow: 0 8px 0 #16736f;
}
.mistake{
    background-color: #DDDDDD;
}
.fas ,.far {
    margin-right: 14px;
    color: #848484;
}
